<h2>Coupon: "<%=@coupon.name %>'s" Show Page</h2>

  <p>name: <b><%= @coupon.name %></b></p>
  <p>unique code: <b><%= @coupon.unique_code %></b></p>
  <p>discount amount: <b><%= @coupon.discount_amount %></b></p>
  <p>status: <b><%= @coupon.status %></b></p><br/>
  <p>times used: <b><%= @coupon.times_used %></b></p><br/><br/>
